.wrap {
				width: 1200px;
				height: 550px;
				margin: 0px auto;
				/*border: 1px solid #000000;*/
				position: relative;
				overflow: hidden;
			}
			
			#pic {
				width: 8400px;
				position: absolute;
			}
			
			#pic li {
				float: left;
				height: 550px;
			}
			
			#list {
				position: absolute;
				bottom: 10px;
				left: 50%;
				transform: translateX(-50%);
			}
			
			#list li {
				float: left;
				
				
				margin: 0 18px;
				border-radius: 50%;
				cursor: pointer;
				width: 15px;
				height: 15px;
				background: #fff;
			}
			
			#list .on {
				background: #e27a00;
			}
			
			.Prev {
				position: absolute;
				height: 100%;
				left: 0;
				-webkit-transition: all 0.35s ease-in-out;
			}
			
			.Next {
				position: absolute;
				height: 100%;
				right: 0;
				-webkit-transition: all 0.35s ease-in-out;
			}
			.sign{
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
			.sign {
				
				font-size: 80px;
				font-weight: bold;
				color: #fff;
				-webkit-transition: all 0.35s ease-in-out;
			}
			
			.Next:hover,
			.Prev:hover {
				background: #ccc;
				background: rgba(204, 204, 204, 0.4);
			}